.quiz-container{
  background-color: #001427;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quizzes{
  background-color: #001427;
  border: 1px solid #FDF8F8;
  width: 50vw;
  height: 50vh;
  border-radius: 15px;
}

.editer-theme{
  display: flex;
}

.editer-theme div{
  margin: 15px 0 15px 15px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

hr{
  margin:0;
}

.questions{
  margin:20px;
  color: #FDF8F8;
}