body,
p,
h1,
h2,
h3,
h4,
h5,
h6{
  margin:0;
  padding:0;
}

.quiz-container{
  background-color: #001427;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4{
  color: #569CD6;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.description{
  color: #FDF8F8;
  text-align: center;
  margin-bottom: 20px;
}

.quizzes{
  background-color: #001427;
  border: 1px solid #FDF8F8;
  width: 50vw;
  height: 55vh;
  border-radius: 15px;
}

.editer-theme{
  display: flex;
}

.editer-theme div{
  margin: 15px 0 15px 15px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

hr{
  margin:0;
}

.question-container{
  padding:20px 10px;
  display: grid;
}

.questions{
  font-size: 18px;
  margin:15px;
  color: #FDF8F8;
}

input{
  transform: scale(1.2);
  margin: 15px;
}

label{
  font-size: 16px;
  color: #FDF8F8;
}

.next-container{
  display: flex;
  justify-content: center;
}

.nextbtn, .restart button{
  border-radius: 5px;
  padding: 10px 20px;
  font-size: large;
  font-weight: bold;
  background-color: #CE9178;
  border: none;
  color: #001427;
}

.restart{
  height: calc(55vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.restart div{
  display: grid;
  justify-content: center;
}

.restart h2{
  color:#FDF8F8;
  margin-top:0;
  margin-bottom: 10px;
}